<div class="card-header-title font-size-sm text-capitalize font-weight-bold"
    style="border-bottom: solid 1px #e7eadf; width: 100%">
    <button (click)="refreshPosts()" class="mr-2 btn btn-link">
        <i class="fa fa-refresh"></i>&nbsp;Refresh
    </button>
    <span style="color:gray">|</span>&nbsp;
    <button (click)="jumpToComment('0', newPostModal)" class="mr-2 btn btn-link">
        <i class="fa fa-plus"></i>&nbsp;Add New Post
    </button>
</div>

<div *ngIf="show" id="prgPost" style="padding-left:40px;padding-top:5px; font-size:8pt;display:block">
    <i class="fa fa-spinner fa-spin"></i>&nbsp;Refreshing posts...
</div>
<!-- the posts area -->
<div style="padding-left:6px;padding-top:10px; ">

    <table id="tbNetPosts">
        <tbody>
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor='let res of networkPosts | paginate: { itemsPerPage: 5, currentPage: p }; let i = index'>
                <td style="vertical-align: top; width: 12px; text-align: left; padding-top: -100px;">
                    <input type="image" [routerLink]="['/members/show-profile']" [queryParams]="{memberID:res.memberID}"
                        name="imgMbr" id="imgMbr"
                        src="{{this.memberImageUrlpath}}{{(res.picturePath==null || res.picturePath=='') ? 'default.png' : res.picturePath }}"
                        style="height:35px;width:35px;border-radius:50%" />
                </td>
                <td style="vertical-align: top; text-align: left;width:350px;padding-left:7px">
                    <span>
                        <span id="lblDesc"
                            style="color:#36454f;font-size: 11pt; background-color: seashell; padding:5px; border-radius:10px 10px 10px 10px">
                            <a id="lbMbrName" href="#" [routerLink]="['/members/show-profile']"
                                [queryParams]="{memberID:res.memberID}" style="font-weight:bold;">{{res.memberName}}</a>
                            &nbsp;{{res.description}}</span>
                        <br />
                        <span style="font-size:10pt;">
                            <span id="lblPostDate" style="color:Gray;">{{res.postDate}}</span>
                            <span style="color: #596a7d">&nbsp;-</span>
                            <a (click)="jumpToComment(res.postID, commentModal)" id="lbPostComment" href=""
                                style=" font-weight: normal;">&nbsp;Reply</a>
                        </span>
                        <div id="#myContainer_1161"></div>
                        <div id="tbRecentPostsDiv_1161">
                            <table id="tbChildPosts_1161"
                                style="width:450px;text-align: left;  border-bottom-style: none; border-top: 1px solid #e7eadf; border-bottom-color: White; border-bottom-width: 5px">
                                <tbody>
                                    <tr *ngFor='let chi of res.children'>
                                        <td
                                            style="width: 12px; text-align: left; padding-top: -100px; vertical-align: top; font-size: 8pt;">
                                            <input type="image" [routerLink]="['/members/show-profile']"
                                                [queryParams]="{memberID:chi.memberID}" name="imgChild" id="imgChild"
                                                src="{{this.memberImageUrlpath}}{{(chi.picturePath==null || chi.picturePath=='') ? 'default.png' : chi.picturePath }}"
                                                style="color:#596A7D;height:35px;width:35px; cursor:pointer;border-radius:50%" />
                                        </td>
                                        <td style="vertical-align: middle; text-align: left;padding-left:7px;">
                                            <span id="lblResponseDesc"
                                                style="color:#36454f;font-size: 11pt;background-color: seashell;padding:5px; border-radius:10px 10px 10px 10px">
                                                <a [routerLink]="['/members/show-profile']"
                                                    [queryParams]="{memberID:res.memberID}" id="lbMbrName" href=""
                                                    style="font-weight:bold; cursor:pointer">{{chi.memberName}}</a>
                                                &nbsp;{{chi.description}}</span>
                                            <br />
                                            <span id="lblResponseDate"
                                                style="color:Gray;font-size:10pt">{{chi.responseDate}}</span>
                                            <span style="color: #596a7d">&nbsp;-</span>
                                            <a (click)="jumpToComment(res.postID, commentModal)" id="lbPostComment"
                                                href="" style=" font-weight:normal; font-size:10pt">&nbsp;Reply</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="pageNavPosition"></div>
</div>

<div style="text-align:left !important;  font-size:12px" align="left">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<ng-template #newPostModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">New Network Post</h5>
    </div>
    <div class="modal-body">
        <form #sendReplyForm='ngForm' (ngSubmit)="doPost(sendReplyForm)">
            <textarea autofocus name="txtResponse" rows="2" cols="20" id="txtResponse" maxlength="150" required ngModel
                [(ngModel)]="postModel.postText"
                style="color:Gray;border-color:LightGrey;border-width:1px;border-style:solid;height:40px; text-align:left"
                class="form-control"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="doPost(newPostModal)"
            [disabled]="!sendReplyForm.valid">Post</button>
        <button type="button" class="btn btn-secondary" (click)="d( 'Cross click') ">Close</button>
    </div>
</ng-template>


<ng-template #commentModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Reply to Post</h5>
    </div>
    <div class="modal-body">
        <form #sendReplyForm='ngForm' (ngSubmit)="doPost(sendReplyForm)">
            <textarea autofocus name="txtResponse" rows="2" cols="20" id="txtResponse" maxlength="150" required ngModel
                [(ngModel)]="postModel.postText"
                style="color:Gray;border-color:LightGrey;border-width:1px;border-style:solid;;height:40px; text-align:left"
                class="form-control"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="doPostReply(commentModal)"
            [disabled]="!sendReplyForm.valid">Post</button>
        <button type="button" class="btn btn-secondary" (click)="d( 'Cross click') ">Close</button>
    </div>
</ng-template>