<div>
  <hr style="color:darkgray; border:solid 1px #e7eadf">
</div>
<div *ngIf="spinner" style="padding-left:0px;padding-top:5px; font-size:8pt;display:block">
  <i class="fas fa-spinner fa-spin"></i>&nbsp;Loading...
</div>

<div *ngIf="this.memberCnt==0;else showConnectionList_Content">
  There are no members to display.
</div>

<ng-template #showConnectionList_Content>
  <div *ngIf="this.memberCnt>0" style="padding-left:0px;padding-top:7px; padding-bottom:5px;display:block">
    {{this.memberCnt}}&nbsp;member(s) found.
  </div>

  <div id="tbMsgPartialDiv" style="background-color:white">
    <table
      style="width: 0px; text-align: left; border-left: 1px none #e7eadf; border-right:1px none #e7eadf; border-collapse: collapse; font-size:11pt">
      <tbody>
        <tr *ngFor="let res of netMemberList" style="border-bottom: solid 1px;border-bottom-color:#DBDBDB;">

          <td
            style="width: 40px; text-align: left; cursor:pointer;vertical-align:top; padding-top:6px;padding-right:4px"
            class="textfonts8pt;">
            <a href="" [routerLink]="['/members/show-profile']" [queryParams]="{memberID:res.memberID}"
              style="border:none">
              <img src="{{this.memberImagesUrlPath}}{{res.picturePath}}"
                style="color:#596A7D;border-color:LightGrey;border-width:1px;border-style:None;height:40px;width:40px;border-radius:50%" />
            </a>
          </td>
          <td style="vertical-align: top; text-align: left;vertical-align:top; padding-bottom:10px" class="">
            <a id="lbSName" href="#" [routerLink]="['/members/show-profile']" [queryParams]="{memberID:res.memberID}">
              {{res.memberName}}</a>
            <br />
            <span id="lblTitle" style="color:Gray;">{{(res.titleDesc=="") ? "Unknown Title" : res.titleDesc  }}</span>
            <br>
            <span style="color:Gray;">{{res.access}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</ng-template>