<div style="text-align: center; padding-top:24px;padding-left:40px;padding-right:40px;">

    <h4>
        Registration Confirmation
    </h4>
    <br>
    <!--<table style="width:550px; text-align:center">
        <tr>
            <td>-->
    <span style="width:700px">
        Thank you for signing up on {{this.appName}}! A confirmation email was sent to you at
        <b>&nbsp;{{this.email}}</b>.&nbsp;Please check your email and click on the confirmation link in the
        email to complete your registration.
        <br>
        <br>
        <a [routerLink]="['/']" class="btn btn-link">Return to login page.</a>
        <br>
    </span>
            <!--</td>
        </tr>
    </table>-->
</div>