<form name="resetConfirm" #resetConfirm='ngForm'>
    <div style="text-align: center; padding-top:24px; padding-left:10px; padding-right:10px;text-align:center">
        <br><br>
        <div class="mx-auto mb-3 logo_popup_text"><img src="{{this.webSiteDomain}}/assets/images/logo3.jpg" width="350" height="70"> </div>
        <br>
        <h5>Reset Password Confirmation</h5>
        <span style="text-align:center">
            <p>Your password has been successfully reset. <a [routerLink]="['']">Click here to log in.</a>
            </p>
        </span>
    </div>
</form>