<div class="col-sm-14 col-md-12">
  <div class="mb-3 card" style="padding:10px">

    <div class="card-header-tab card-header">
      <div class="card-header-title font-size-lg text-capitalize font-weight-bold">
        <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
        My Connections
      </div>
    </div>
    <br>
    <div>
      <form class="form-horizontal" (ngSubmit)="doSearch()" id="searchForm" name="searchForm" role="search"
        class="navbar-form navbar-left">
        <div class="input-group" style="font-size: 9pt;line-height: 0px;padding:3px 0px; width:250px">
          <div class="input-group">
            <input id="txtConSearch" name="txtConSearch" [(ngModel)]="this.searchModel.key" required ngModel
              class="form-control py-2 rounded-pill mr-1 pr-5" type="search" autocomplete="off"
              style="background-color:#f7f9fa;" placeholder="Search connections...">
            <span class="input-group-append">
              <button class="btn rounded-pill border-0 ml-n5" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>

    <div>
      <hr style="color:darkgray; border:solid 1px #e7eadf">
    </div>
    <div *ngIf="spinner" style="padding-left:0px;padding-top:5px; font-size:8pt;display:block">
      <i class="fas fa-spinner fa-spin"></i>&nbsp;Loading...
    </div>

    <div *ngIf="this.contactCnt==0;else showConnectionList_Content">
      There are no connections to display.
    </div>
  </div>
</div>
<!-- </div> -->

<ng-template #showConnectionList_Content>
  <div *ngIf="this.contactCnt>0" style="padding-left:0px;padding-top:7px; padding-bottom:5px;display:block">
    {{this.contactCnt}}&nbsp;connection(s) found.
  </div>

  <div id="tbMsgPartialDiv" style="background-color:white">
    <table
      style="width: 0px; text-align: left; border-left: 1px none #e7eadf; border-right:1px none #e7eadf; border-collapse: collapse; font-size:11pt">
      <tbody>
        <tr *ngFor="let res of contactInfoList" style="border-bottom: solid 1px;border-bottom-color:#DBDBDB;">

          <td
            style="width: 40px; text-align: left; cursor:pointer;vertical-align:top; padding-top:6px;padding-right:4px"
            class="textfonts8pt;">
            <a href="" [routerLink]="['/members/show-profile']" [queryParams]="{memberID:res.connectionID}"
              style="border:none">
              <img src="{{this.memberImagesUrlPath}}{{res.picturePath}}"
                style="color:#596A7D;border-color:LightGrey;border-width:1px;border-style:None;height:40px;width:40px;border-radius:50%" />
            </a>
          </td>
          <td style="vertical-align: top; text-align: left;vertical-align:top; padding-bottom:10px"
            class="textfonts10pt">
            <a id="lbSName" href="#" [routerLink]="['/members/show-profile']"
              [queryParams]="{memberID:res.connectionID}">
              {{res.friendName}}</a>
            <br />
            <span id="lblTitle"
              style="color:Gray;font-size:10pt;">{{(res.titleDesc=="") ? "Unknown Title" : res.titleDesc  }}</span>
            <br>
            <a style="font-size:10pt" id="lblDeleteContact" title="Drop this person from your contacts list" href=""
              data-toggle="modal" data-target="#dropContactModal"
              (click)="showDropContactPopup(dropContactModal,res.contactID, res.friendName);">Drop
              Contact</a>
            <br />
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</ng-template>


<!-- Remove  modal-->
<ng-template #dropContactModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Drop Connection</h5>
  </div>
  <div class="modal-body">
    <form>
      <label>Are you sure you want to remove this connection?</label>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="doRemoveConnection()">
      <i *ngIf="spinner" class='fas fa-spinner fa-spin'></i> {{spinner ? "Removing..." : "Yes"}}
    </button>
    <button type="button" class="btn btn-secondary" (click)="d( 'Cross click') ">No</button>
  </div>
</ng-template>