<div class="row">
  <div class="col-sm-14 col-md-12">
    <div class="mb-3 card" style="padding:10px">

      <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-bold">
          <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
          Account Settings
        </div>
      </div>

      <div class='col-sm-14 col-lg-25' style="padding:10px;">

        <div class="container">

          <mat-tab-group>

            <mat-tab label="Change Photo">
              <br>
              <account-setting-change-photo></account-setting-change-photo>
            </mat-tab>

            <mat-tab label="Name">
              <br>
              &nbsp;<account-setting-name></account-setting-name>
            </mat-tab>

            <mat-tab label="Password">
              <br>
              <account-setting-password></account-setting-password>
            </mat-tab>

            <mat-tab label="Security Questions">
              <br>
              <account-setting-secQuestions></account-setting-secQuestions>
            </mat-tab>

            <mat-tab label="Notifications">
              <br>
              <account-setting-notifications></account-setting-notifications>
            </mat-tab>

            <mat-tab label="Deactivate">
              <br>
              <account-setting-deactivate></account-setting-deactivate>
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>