<div>
    <form class="form-horizontal" name="asNotificationsForm" #asNotificationsForm='ngForm'
        (ngSubmit)="saveASNotifications()">

        <span class="settingAct10pt" style="padding: 0px 0px 0px 0px; font-weight:normal">
            We will notify you by email whenever actions that involve you are taken. Each
            site application has its own email notification settings. Use this section
            to change these settings as necessary.<br>
        </span><br>
        <p class="settingAct10pt" style="font-weight:normal">
            You will be emailed at&nbsp;<b><span
                    id="lblNotificationEmail">{{this.session.getSessionVal('userEmail')}}</span></b>&nbsp;whenever
            someone:
        </p>
        <table>
            <tr>
                <td style=" padding-left: 30px;">
                    <table>
                        <tr>
                            <td
                                style="width: 300px; font-weight: bold; border-bottom-style: solid; border-bottom-color: Gray; text-align:left;
                            border-bottom-width: 1px; font-family :'Lucida Grande', tahoma, helvetica; font-size:10pt;">
                                {{this.webSiteName}}
                            </td>
                            <td
                                style="font-weight: bold; border-bottom-style: solid; border-bottom-color: Gray;
                            border-bottom-width: 1px; font-family :'Lucida Grande', tahoma, helvetica; font-size:10pt;">
                                Select
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Send you a message
                            </td>
                            <td>
                                <span class=" settingCtl8ptText">
                                    <input id="chkSendMessage" #chkSendMessage="ngModel"
                                        [(ngModel)]="asModel.lG_SendMsg" type="checkbox" name="chkSendMessage" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Adds you as a contact
                            </td>
                            <td>
                                <span class="settingCtl8ptText"><input id="chkAddAsFriend" #chkAddAsFriend="ngModel"
                                        [(ngModel)]="asModel.lG_AddAsFriend" type="checkbox"
                                        name="chkAddAsFriend" /></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Confirms a contact request
                            </td>
                            <td>
                                <span class="settingCtl8ptText"><input id="chkConfirmFriendShip"
                                        #chkConfirmFriendShip="ngModel"
                                        [(ngModel)]="asModel.lG_ConfirmFriendShipRequest" type="checkbox"
                                        name="chkConfirmFriendShip" /></span>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </table>

                    <!-- <table style=" margin-top:-5px">
                        <tr>
                            <td
                                style="width: 300px; font-weight: bold; border-bottom-style: solid; border-bottom-color: Gray; text-align:left;
                            border-bottom-width: 1px; font-family :'Lucida Grande', tahoma, helvetica; font-size:10pt;">
                                <i class="fa fa-users"></i>&nbsp;Networks
                            </td>
                            <td
                                style="font-weight: bold; border-bottom-style: solid; border-bottom-color: Gray;
                            border-bottom-width: 1px; font-family :'Lucida Grande', tahoma, helvetica; font-size:10pt;">
                                Select
                            </td>
                        </tr>
                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Invites you to join a network
                            </td>
                            <td>
                                <input id="chkInviteYouToJoin" #chkInviteYouToJoin="ngModel"
                                    [(ngModel)]="asModel.gP_InviteYouToJoin" type="checkbox"
                                    name="chkInviteYouToJoin" />
                            </td>
                        </tr>

                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Makes you a network administator
                            </td>
                            <td>
                                <input id="chkMakesYouAGPAdmin" #chkMakesYouAGPAdmin="ngModel"
                                    [(ngModel)]="asModel.gP_MakesYouAGPAdmin" type="checkbox"
                                    name="chkMakesYouAGPAdmin" />
                            </td>
                        </tr>



                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Replies to your discussion board post
                            </td>
                            <td>
                                <input id="chkRepliesToYourDiscBoardPost" #chkRepliesToYourDiscBoardPost="ngModel"
                                    [(ngModel)]="asModel.gP_RepliesToYourDiscBooardPost" type="checkbox"
                                    name="chkRepliesToYourDiscBoardPost" />
                            </td>
                        </tr>

                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Changes the name of a network to which you belong
                            </td>
                            <td>
                                <input id="chkChangeNameofGPYouBelong" #chkChangeNameofGPYouBelong="ngModel"
                                    [(ngModel)]="asModel.gP_ChangesTheNameOfGroupYouBelong" type="checkbox"
                                    name="chkChangeNameofGPYouBelong" />
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </table>

                    <table style=" margin-top:-5px">
                        <tr>
                            <td
                                style="width: 300px; font-weight: bold; border-bottom-style: solid; border-bottom-color: Gray; text-align:left;
                            border-bottom-width: 1px; font-family :'Lucida Grande', tahoma, helvetica; font-size:10pt;">
                                <i class="fa fa-calendar"></i>&nbsp;Events
                            </td>
                            <td
                                style="font-weight: bold; border-bottom-style: solid; border-bottom-color: Gray;
                            border-bottom-width: 1px; font-family :'Lucida Grande', tahoma, helvetica; font-size:10pt;">
                                Select
                            </td>
                        </tr>

                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Invites you to an event
                            </td>
                            <td>
                                <input id="chkInviteToEvent" #chkInviteToEvent="ngModel"
                                    [(ngModel)]="asModel.eV_InviteToEvent" type="checkbox" name="chkInviteToEvent" />
                            </td>
                        </tr>

                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Changes the date or time of an event
                            </td>
                            <td>
                                <input id="chkDateChanged" #chkDateChanged="ngModel"
                                    [(ngModel)]="asModel.eV_DateChanged" type="checkbox" name="chkDateChanged" />
                            </td>
                        </tr>


                    </table>

                    <table>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </table> -->

                    <table style=" margin-top:-5px">
                        <tr>
                            <td
                                style="width: 300px; font-weight: bold; border-bottom-style: solid; border-bottom-color: Gray; text-align:left;
                            border-bottom-width: 1px; font-family :'Lucida Grande', tahoma, helvetica; font-size:10pt;">
                                Help
                            </td>
                            <td
                                style="font-weight: bold; border-bottom-style: solid; border-bottom-color: Gray;
                            border-bottom-width: 1px; font-family :'Lucida Grande', tahoma, helvetica; font-size:10pt;">
                                Select
                            </td>
                        </tr>
                        <tr>
                            <td class="settingCtl8ptLabelBlack">
                                Replies to your help questions
                            </td>
                            <td>
                                <input id="chkRepliesYourHelpRequest" #chkRepliesYourHelpRequest="ngModel"
                                    [(ngModel)]="asModel.hE_RepliesToYourHelpQuest" type="checkbox"
                                    name="chkRepliesYourHelpRequest" />
                            </td>
                        </tr>

                    </table>

                    <br>
                    <div>
                        <button type="submit" id="saveNotifications" [disabled]="isSaving"
                            class="btn btn-primary btn-md">
                            <i *ngIf="isSaving" class='fa fa-spinner fa-spin'></i>
                            {{isSaving ? "Saving..." : "Save"}}</button>
                    </div>
                    <div style="padding-bottom:60px">
                        <span style="color:green">{{isNotificationSuccess ? "Saved sucessfully." : ""}}</span>
                    </div>

                </td>
            </tr>
        </table>

    </form>
</div>