<div>
  <form class="form-horizontal" name="asDeactivateForm" #asDeactivateForm='ngForm'
    (ngSubmit)="jumpToConfirmModal(deactivateConfirmModal)">

    <div class="form-group" style="padding-bottom:15px">
      <b>Reason for deactivating account:</b>
      <br />
      <select name="ddlReason" #ddlReason="ngModel" id="ddlReason" [(ngModel)]="asModel.reason"
        style=" width:320px;height:29px;padding-top:1px" class="form-control" ngModel>
        <option value="select">Select Reason...</option>
        <option value="1">I am leaving temporarily. I will be back.</option>
        <option value="2">I have another account that I will start using.</option>
        <option value="3">I get too many emails, invites, and requests.</option>
        <option value="4">I do not have enough privacy and security.</option>
        <option value="5">I do not understand hot to use it.</option>
        <option value="0">Other</option>
      </select>
    </div>

    <div class="form-group" style="padding-bottom:15px">
      <b>Further Explanation:</b>
      <br />
      <textarea name="txtExplain" #txtExplain="ngModel" type="text" id="txtExplain" [(ngModel)]="asModel.explanation"
        placeholder="Explain deactivation" class="form-control" style=" width:400px;height:50px;" ngModel></textarea>
    </div>

    <div style="padding-bottom:80px">
      <button type="submit" id="saveASDeactivation" (click)="jumpToConfirmModal(deactivateConfirmModal)"
        class="btn btn-primary btn-md">
        Deactivate</button>
    </div>

  </form>
</div>

<!-- Remove  modal-->
<ng-template #deactivateConfirmModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Deactivate Account</h5>
  </div>
  <div class="modal-body">
    <form #removeSchoolForm='ngForm'>
      <label>Are you sure you want to deactivate your account?</label>
    </form>
  </div>
  <div class="modal-footer" style="padding-bottom:60px">
    <button type="button" class="btn btn-primary btn-md" (click)="doDeactivate(deactivateConfirmModal)"
      [disabled]="!removeSchoolForm.valid || isSaving">
      <i *ngIf="isSaving" class='fa fa-spinner fa-spin'></i> {{isSaving ? "Deactivating..." : "Yes"}}
    </button>
    <button type="button" class="btn btn-secondary btn-md" (click)="d( 'Cross click') ">No</button>
  </div>

</ng-template>