<div>
  <form class="form-horizontal" name="asPasswordForm" #asPasswordForm='ngForm'
    (ngSubmit)="saveASPassword(asPasswordForm)">

    <div>
      <span style="color:#484830; font-weight:bold;">Please follow the below guidelines
        when changing password:</span><br>
      <ul>
        <li>Your new password must be between 5-12 characters in length.</li>
        <li>Use a combination of letters, numbers, and punctuation.</li>
        <li>Passwords are case-sensitive. Remember to check your CAPS LOCK key.</li>
      </ul>
    </div>
    <br>

    <div class="form-group" style="padding-bottom:15px">
      <b>Current&nbsp;Password:</b>
      <br />
      <input name="txtOldPassword" #txtOldPassword="ngModel" [(ngModel)]="asModel.code" type="password"
        id="txtOldPassword" placeholder="Enter current password" class="form-control"
        style=" width:auto;height:29px;padding-top:1px" required ngModel autocomplete="off" />
      <div *ngIf="txtOldPassword.errors && (txtOldPassword.dirty || txtOldPassword.touched)">
        <span class="help-bpx" style="color:red;" *ngIf="txtOldPassword.errors.required">Current password is
          required.</span>
      </div>
      <div *ngIf="!isValidPwd">
        <span class="help-bpx" style="color:red;">The current password you entered is not correct.</span>
      </div>
    </div>

    <div class="form-group" style="padding-bottom:15px">
      <b>New&nbsp;Password:</b>
      <br />
      <input name="txtPassword" #txtPassword="ngModel" type="password" id="txtPassword" [(ngModel)]="asModel.password"
        placeholder="Enter new password" class="form-control" style=" width:auto;height:29px;padding-top:1px" required
        ngModel minlength="5" validateEqual="txtConfirm" reverse="true" autocomplete="off" />
      <div *ngIf="txtPassword.errors && (txtPassword.dirty || txtPassword.touched)">
        <span class="help-bpx" style="color:red;" *ngIf="txtPassword.errors.required">Password is required.</span>
        <span class="help-bpx" style="color:red;" *ngIf="txtPassword.errors.minlength">Password must be 5 characters or
          more.</span>
      </div>
    </div>

    <div class="form-group" style="padding-bottom:15px">
      <b>Confirm&nbsp;Password:</b>
      <br />
      <input name="txtConfirm" #txtConfirm="ngModel" type="password" id="txtConfirm" [(ngModel)]="asModel.confirmPwd"
        placeholder="Re-enter password" autocomplete="off" class="form-control"
        style=" width:auto;height:29px;padding-top:1px" required ngModel validateEqual="txtPassword" />
      <div *ngIf="txtConfirm.errors && (txtConfirm.dirty || txtConfirm.touched)">
        <span class="help-bpx" style="color:red;" *ngIf="txtConfirm.errors.required">Please re-enter password.</span>
        <span class="help-bpx" style="color:red;" *ngIf="txtConfirm.errors && !txtConfirm.errors.required">Re-enter
          password
          must match password.</span>
      </div>
    </div>

    <div>
      <button type="submit" id="savePwd" [disabled]="!asPasswordForm.valid || isSaving" class="btn btn-primary btn-md">
        <i *ngIf="isSaving" class='fa fa-spinner fa-spin'></i> {{isSaving ? "Saving..." : "Save"}}</button>
    </div>

    <div style="padding-bottom:60px">
      <span style="color:green">{{isPwdSuccess ? "Saved sucessfully." : ""}}</span>
    </div>

  </form>
</div>