<div class="row">
  <div class="col-sm-14 col-md-12">
    <div class="mb-3 card" style="padding:10px">
      <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-bold">
          <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
          Privacy Settings
        </div>
      </div>
      <div class='col-sm-14 col-lg-25' style="padding:10px;">
        <div class="container">

          <mat-tab-group>

            <mat-tab label="Profile">
              <br>
              <privacy-setting-profile></privacy-setting-profile>
            </mat-tab>

            <mat-tab label="Search">
              <br>
              <privacy-setting-search></privacy-setting-search>
            </mat-tab>

          </mat-tab-group>

        </div>
      </div>
    </div>
  </div>
</div>