<div>
    <form class="form-horizontal" name="asSearchForm" #asSearchForm='ngForm' (ngSubmit)="saveSearchSettings()">
        <p class="settingPri8pt" style="padding: 10px 18px 10px 6px;">
            You can control who can find you while they are searching by adjusting the settings below.
        </p>

        <table>
            <tr>
                <td class="settingPriSearchLBL">
                    Visibility
                </td>
            </tr>

            <tr>
                <td class="settingPrivacytSearchLeft">
                    <b>You are visible to:</b>

                    <select name="ddlVisible" #ddlVisible="ngModel" [(ngModel)]="asModel.visibility" ngModel
                        id="ddlVisible" class="form-control" style="width:auto; height:auto; padding-top:10px">
                        <option value="1">Everyone</option>
                        <option value="2">Only Contacts</option>
                    </select>
                </td>
            </tr>
        </table>

        <table border="0">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="settingPriSearchLBL">
                    Result Content
                </td>
            </tr>
            <tr>
                <td class="settingPrivacytSearchLeft">
                    <b>People who can see you while searching can see: <br /></b>
                    <span style="color:Black;font-weight:normal;"><input id="chkProfile" #chkProfile="ngModel"
                            [(ngModel)]="asModel.viewProfilePicture" ngModel type="checkbox" name="chkProfile" /><label
                            style="font-weight:normal" for="chkProfile">&nbsp;Your profile picture</label></span><br />

                    <span style="color:Black;font-weight:normal;"><input id="chkContactList" #chkContactList="ngModel"
                            [(ngModel)]="asModel.viewFriendsList" ngModel type="checkbox" name="chkContactList" /><label
                            style="font-weight:normal" for="chkContactList">&nbsp;Your Contacts
                            list</label></span><br />

                    <span style="color:Black;font-weight:normal;"><input id="chkAddContactLink"
                            #chkAddContactLink="ngModel" [(ngModel)]="asModel.viewLinksToRequestAddingYouAsFriend"
                            ngModel type="checkbox" name="chkAddContactLink" /><label style="font-weight:normal"
                            for="chkAddContactLink">&nbsp;A
                            link to request adding you as a Contact</label></span><br />

                    <span style="color:Black;font-weight:normal;"><input id="chkSendMessage" #chkSendMessage="ngModel"
                            [(ngModel)]="asModel.viewLinkTSendYouMsg" ngModel type="checkbox"
                            name="chkSendMessage" /><label style="font-weight:normal" for="chkSendMessage">&nbsp;A link
                            to send you a message</label></span><br />
                </td>

            </tr>
        </table>
        <br>
        <div>
            <button type="submit" id="saveSearch" [disabled]="!asSearchForm.valid || isSaving"
                class="btn btn-primary btn-md">
                <i *ngIf="isSaving" class='fa fa-spinner fa-spin'></i>
                {{isSaving ? "Saving..." : "Save"}}</button>
        </div>
        <div style="padding-bottom:60px">
            <span style="color:green">{{this.isSearchSuccess ? "Saved sucessfully." : ""}}</span>
        </div>

    </form>
</div>